<h1>Calculate some numbers mate!</h1>

<form action="/calc_form" method="get">
	<label for="first">First number</label>
	<input type="text" name="first">

	<select name="operation">
		<option>sum</option>
		<option>sub</option>
		<option>mult</option>
		<option>divide</option>
	<label for="second">Second number</label>
	<input type="text" name="second">

	<button>Caclulate</button>
	</form>

	<p>The <%= @operation %> of <%= @first %> and <%= @second %> is <%= @result %>