
<form role="form" action='/subway_input' method="post" >

	<div class="form-group">
	    <label for="srcline">Enter a Source Line: </label>
	    <input type="text" class="form-control"  name="srcline" id="srcline" placeholder="Enter Line [N,6L,L]">
	</div>

	<div class="form-group">
	    <label for="srcstop">Enter a Source Stop: </label>
	    <input type="text" class="form-control" name="srcstop" id="srcstop" placeholder="Enter stop...">
	</div>

	<div class="form-group">
	    <label for="destline">Enter a destination Line: </label>
	    <input type="text" class="form-control" name="destline" id="destline" placeholder="Enter Line [N,6L,L]">
	</div>

	<div class="form-group">
	    <label for="deststop">Enter a destination Stop: </label>
	    <input type="text" class="form-control" name="deststop" id="deststop" placeholder="Enter stop...">
	</div>

	<button class="btn btn-primary">Calculate Number of stops</button>
	<br/>
	<div class="well">Result: <%=@result %> </div>
	
</form>