

p {
	border: 1px solid black;
	padding: 5px;
	color: white;
}

h2 {
	color: red;
}
#box1 {
	background: green;
}

ul > li {
	font-weight: bold;
}

div {
	background: green;
	border: dotted black 2px;
	margin: 10px 20px;
}

.fixed {
	width: 200px;
	height: 200px;
}


.fluid {
	width: 50%;
	height: 200px;
}

.responsive {
	min-width: 300px;
	max-width: 700px;
	height: 200px;
}

.autoscaleall {
	width:auto;
	height: auto;
}

.overflowauto {
	overflow: auto;
	height: 150px;
}

.overflowhide {
	height:150px;
	overflow: hidden;
}

.centered {
	width: 500px;
	margin: 10px auto;
}





