<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>The Movie List</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css"
</head>
<body>
	<div id="container">
	<h1>The Movie List</h1>


	<%= yield %>
	</div>
</body>
</html>