<p><%= link_to "about us", "/about_us" %> | 
   <%= link_to "contact us", "/contact_us" %> | 
   <%= link_to "privacy", "/privacy" %> | 
   <%= link_to "Terms & Conditions", "/term_and_conditions" %>
</p>

