<!DOCTYPE html>
<html>
<head>
<title>WDI Legends 2014</title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="container">

  <header>
      
      <h1>The best WDI Students the world's ever seen!</h1>
      <h2>Web Development Immersive, Sydney 2014</h2>
  </header>

  <nav>
    <a href="/index">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/nick">NICK</a>
    <a href="/lauren">LAUREN</a>
    <a href="/ed">ED</a>
    <a href="/sam">SAM</a>
    <a href="/contact">CONTACT</a>
  </nav>

  <div id="main">
    <h3>About said journey...</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam non tincidunt tellus. Fusce tincidunt porttitor velit, non viverra diam. Morbi gravida vehicula aliquet. Fusce purus odio, consequat non lorem tincidunt, venenatis ultricies diam. Phasellus vehicula, urna id tristique tempor, turpis mi aliquam lorem, a faucibus urna nisi ut eros. Cras eget dictum sapien, a mattis est. Praesent tempus lacus enim, tempus placerat libero fermentum vel. Sed non nisl at mauris ultricies posuere. Nullam eu nibh condimentum, condimentum odio quis, blandit enim. Etiam vel pellentesque urna. Maecenas molestie eros a ligula pellentesque convallis. Curabitur dolor quam, consectetur in mattis sit amet, tempus eu tortor. Fusce nec viverra dolor. Aliquam auctor odio diam, vitae fermentum leo interdum non. Phasellus vehicula ornare rhoncus.</p>

<p>Duis rutrum tempor blandit. Etiam at urna facilisis, varius neque non, auctor turpis. Integer dolor lacus, iaculis in pharetra non, elementum id lorem. Suspendisse rhoncus augue quis est viverra semper. Maecenas posuere orci non congue accumsan. Cras ac nisl tincidunt, adipiscing leo vel, imperdiet sem. Phasellus luctus in quam a pretium. Aliquam consectetur suscipit libero non congue. Integer volutpat sed purus a venenatis. Curabitur aliquet elementum leo a ultrices.</p>
  </div>


</div>

</body>
</html>