<!DOCTYPE html>
<html>
<head>
<title>WDI Legends 2014</title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="container">

  <header>
      
      <h1>The best WDI Students the world's ever seen!</h1>
      <h2>Web Development Immersive, Sydney 2014</h2>
  </header>

  <nav>
    <a href="/index">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/nick">NICK</a>
    <a href="/lauren">LAUREN</a>
    <a href="/ed">ED</a>
    <a href="/sam">SAM</a>
    <a href="/contact">CONTACT</a>
  </nav>

  <div id="main">

     <div id="form">
            <h2> Tell us how awesome we are</h2>
              <form action="/form" method="get">
                <label for="contact">Select who to Contact</label>
                <select name="contact" id="contact">
                  <option value="nick">Nick</option>
                  <option value="ed">Ed</option>
                  <option value="sam">Sam</option>
                  <option value="lauren">Lauren</option></select><br />
                  <label for="message" name="messgae">Enter your message</label>
                  <input type="text"></input>
                </select>
              </form>
      </div>

    </div>
</div>

</body>
</html>