<!DOCTYPE html>
<html>
<head>
<title>WDI Legends 2014</title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="container">
    
    <header>
      
      <h1>The best WDI Students the world's ever seen!</h1>
      <h2>Web Development Immersive, Sydney 2014</h2>
    </header>


      <h3></h3>
    <nav>
      <a href="/index">HOME</a>
      <a href="/about">ABOUT</a>
      <a href="/nick">NICK</a>
      <a href="/lauren">LAUREN</a>
      <a href="/ed">ED</a>
      <a href="/sam">SAM</a>
      <a href="/contact">CONTACT</a>
    </nav>  

      
      
      <!-- <h3>Jump to a student profile...</h3>
      
      
     <table cellpadding="5" border="1" id="contentsTable">
      <tr><td><a href="#nm"/>Nick</a></td><td>who loves looking at trees with red leaves</td></tr>
      <tr><td><a href="#lk"/>Lauren</a></td><td>who wants to drive a car that has different coloured doors one day!</td></tr>
      <tr><td><a href="#ef"/>Ed</a></td><td>who enjoys drawing pictures of teacups full of kittens</td>
      <tr><td><a href="#sp"/>Sam</a></td><td>has an irrational fear of uncomfortable chair fabrics</td></tr>
    </table><br /><br /> -->
  

      <div id="main">
        <div id="home">
          <h3>This is a database chronicling an extraordinary journey...</h3>

          <img src="../images/Dinosaurs_Lasers.jpg">

          <p>Behold the greatness...</p>
        </div>

      </div>
     
           
      
      
     <!-- end container div --> 
    </div>


</body>
</html>