<!DOCTYPE html>
<html>
<head>
<title>WDI Legends 2014</title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Bangers' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="container">

  <header>
      
      <h1>The best WDI Students the world's ever seen!</h1>
      <h2>Web Development Immersive, Sydney 2014</h2>
  </header>

  <nav> 
    <a href="/index">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/nick">NICK</a>
    <a href="/lauren">LAUREN</a>
    <a href="/ed">ED</a>
    <a href="/sam">SAM</a>
    <a href="/contact">CONTACT</a>
  </nav>

<!-- START LAUREN PROFILE -->
    <div class="profile">
          <h2 align="center" id="lk">Lauren Krueger</h2>
          <img align="left" width ="400" style="padding: 20px;" src="http://weknowmemes.com/wp-content/uploads/2011/12/i-have-no-idea-what-im-doing.jpg" alt="Lauren" width=500px>

        <h3>About Me</h3>
        <p>Lauren is a graphic designer from Milwaukee, WI who followed the sun down under to learn how to code.</p>

        <h3>Hobbies</h3>
        <ul>
          <li>Designing pretty things for cats and dogs at an animal shelter</li>
          <li>Running</li>
          <li>Sweaty yoga</li>
          <li>Trying to learn how to code</li>
        </ul>

          <br /><br /><br /><br /><br />
        <h3>Skills</h3>
        <ul>
          <li>Adobe CS4 &amp; above: Illustrator, InDesign, Dreamweaver, Photoshop</li>
          <li>HTML/CSS</li>
          <li>Cooking/eating vegan creations</li>
        </ul>

        <h3>Links</h3>
        <ul>
          <li><a href="http://www.behance.net/laurenkrueger">Behance</a></li>
          <li><a href="http://www.linkedin.com/pub/lauren-krueger/30/926/a17">Linkedin</a></li>
          <li><a href="https://twitter.com/lucylukru">Twitter</a></li>
        </ul>
    </div><br /><br />
    <!-- END LAUREN PROFILE -->

</div>

</body>
</html>