<!DOCTYPE html>
<html>
<head>
<title>WDI Legends 2014</title>
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/style.css">
<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>

<div id="container">

  <header>
      
      <h1>The best WDI Students the world's ever seen!</h1>
      <h2>Web Development Immersive, Sydney 2014</h2>
  </header>

  <nav>
    <a href="/index">HOME</a>
    <a href="/about">ABOUT</a>
    <a href="/nick">NICK</a>
    <a href="/lauren">LAUREN</a>
    <a href="/ed">ED</a>
    <a href="/sam">SAM</a>
    <a href="/contact">CONTACT</a>
  </nav>
      
    <div class="profile">  
        <h2 align="center" id="sp">Sam Peters</h2>
        <img align="left" width ="400" style="padding: 20px;" src="http://fc04.deviantart.net/fs71/f/2011/288/7/2/forever_alone_computer_by_rober_raik-d4cw54a.png" alt="Sam Peters' Picture!">
        <h3>About Me</h3>
        <p>Sam peters spends the majority of her time surgically attached to her computers - either her PC Reginald, or her Mac Mildred (Don't ask). She enjoys playing games for irrational periods of time, growing food to support her eating habit, and zooming about on her motorcycle.</p>

          <br /><br />
        <h3>Hobbies</h3>
        <ul>
          <li>Motorcycling</li>
          <li>Gardening</li>
          <li>Eating</li>
          <li><a href="http://cdpn.io/vGswo">Gaming</a>
        </ul>

        <h3>Skills</h3>
        <ul>
          <li>HTML/CSS</li>
          <li>Eating</li>
          <li>Awesome healer</li>
          <li>Green-thumb (sort of)</li>
        </ul>

        <h3>Links</h3>
        <ul>
          <li><a href="http://sampeters.net">Portfolio</a></li>
          <li><a href="http://sampeters.net/blog">Work-y blog</a></li>
          <li><a href="http://sammyjopeters.tumblr.com">A more exciting blog</a></li>
          <li><a href="http://www.linkedin.com/pub/samantha-peters/31/a36/844">LinkedIn</a></li>
        </ul>
      
    </div><br /><br />

    
</li>


</body>
</html>