	<p></p>

<div class="container">
	<h1>We Are Immersive!</h1>
	<p><span>Now that your ear drums are bleeding</span> from reading that headling it is a great opportunity to read a bit about what we are all about. A part from being toatlly immersed in ourselves 24 four seven we devote some time to learning how to code. And I don't mean the Da Vinci Code.<br><br>

	We are immersed in a gruelling 12 week course learning to become full stack web developers. We are going full nerd. we are constantly challenged an put out of our element. There are never ending assignements. The quality can be inconsistent. This site is one example.<br><br>

	Anyhoo, if you would like to learn more about us individually check out our profile pages<br><br>

	<a href="">Luke</a>	
	<a href="marcus">Marcus</a>	
	<a href="">Federico</a>	
	<a href="">Daniel</a>	

	</div
