<p>We're really excited to hear fomr you. fill out the crap below and we may or may not read it :)</p>
<div class="container clearfix"

<form id="contactform" action="" method="post">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" placeholder="Please enter your full name" required > 

      <label for="email">Email:</label>
      <input type="email" id="email" name="email" placeholder="Enter your email address">




    <label for="dropmenu">Select:</label>
      <select id="dropmenu" name="dropmenu">
              <option value="" selected="selected"></option>
              <option value="1">Marcus</option>
              <option value="2">Luke</option>
              <option value="3">Federico</option>
              <option value="3">Daniel</option>
      </select>

      <label for="message">Message:</label>
        <textarea id="message" name="message" placeholder="What's on your mind?" rows="6"></textarea>


      <input type="submit" value="do stuff!" id="submit">
    </form>
</div>
                  
