<!DOCTYPE html>
<html>
	<head>

		<link rel="stylesheet" href="/css/style.css">

		<title></title>
	</head>
	<body>
			<header>
				<a href="/"><img id="logo" src="http://www.wynd.hk/wp-content/uploads/2013/12/GA_logo_FF0033.jpg"></a>
				<nav>
					<ul>
					<li><a href="/about" >About</a></li>
					<li><a href="/contact" >Contact Us</a></li>
					<li><a href="" >Students</a>
						<ul>
							<li><a href="/students/marcus" >Marcus</a></li>
							<li><a href="/students/marcus" >Federico</a></li>
							<li><a href="/students/marcus" >Luke</a></li>
							<li><a href="/students/marcus" >Daniel</a></li>
						
						</ul>
					</li>
				</ul>



			</nav>
		</header

		<%= yield %>

	</body>
	</html>
