<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cats ORM</title>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/cats/new">New Cat</a></li>
    </ul>
  </nav>

  <%= yield %>
</body>
</html>

