<form method='post' action="/posts/new">
  <!-- <label for="">Title:</label>
  <input type="text" name="title">
  <label for ="">Description</label>
  <input type="text" name="description">
  <label>Body</label>
  <input type="text" name="body">
  <label>Author:</label>
  <input type="text" name="author"> -->
  <%= erb :form %>
  <button>New Post</button>

</form>