  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Blog</title>
  </head>
  <body>
  <h1>Super Cool Blogposts :D</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/new">New Blogpost</a></li>
      <li><a href=""></a></li>
    </ul>

    <%= yield %>
    
  </body>
  </html>