<form method='post' action="/create">
  <label for="">Title:</label>
  <input type="text" name="title">
  <label for ="">Description</label>
  <input type="text" name="description">
  <label>Body</label>
  <input type="text" name="body">
  <label>Author:</label>
  <input type="text" name="Author">
  <button>New Post</button>

</form>