<form class="new_post" method="post" action="/posts">
  <fieldset class="new_post_group">
    <input type="text" class="blog_input" name="title" placeholder="Title">
    <input type="text" class="blog_input" name="author" placeholder="Author">
    <textarea name="description" class="blog_input" cols="50" overflow="auto"></textarea>
  </fieldset>

  <fieldset class="new_post_group">
    <textarea name="body_text" class="blog_input" overflow="auto" wrap="hard">
    </textarea>
  </fieldset>

  <button>Submit Post</button>

</form>