<div class="profile">

<h2>About the WDI</h2>

<p><em>I have no idea what I'm doing....</em><br />
A fair sentence to sum up the Web Development Immersive in 2014.</p>

<p> In fact, Immersive is a terrible work to use. Perhaps it should be renamed to the "Web Development Drowning".<br />
Indeed.</p>

<p>The WDD is the sprouting ground for some of the industry's newest (and most cutting edge!) developers, with skills in Ruby, Javascript, HTML and CSS ready to carve delicious websites out of the internet.</p>

<p>Apocalyptic groanings aside - on this website you'll find more about 4 of the codiest coders you've ever seen in your life. What's more - if you're good and you eat all your vegetables, you might even get to contact them on our <strong>contact us</strong> page. Now isn't that exciting?!</p>

<img id="gif" src="http://i.imgur.com/YtQPTnw.gif" />
</div>