
<!-- START ED PROFILE -->
<div class="hero">
<img src="../images/edfastbanner.png">
</div>

<div class="profile" id="edprofile">
<h2>Eduard Fastovski</h2>

<h3>About Me</h3>
<p>Turned to the Dark Side in 1992.</p>

<h3>Hobbies</h3>
<ul>
<li>Parkour/Sports</li>
<li>Becoming a more powerful Sith Lord</li>
<li>Killing Jedi</li>
</ul>

<h3>Skills</h3>
<ul>
<li>HTML/CSS</li>
<li>WordPress/Joomla</li>
<li>Mind Trick</li>
<li>Force Lightning</li>
</ul>

 <br />
<h3>Links</h3>
<ul>
<li><a href="https://github.com/ed-fast">Github</a></li>
<li><a href="http://edfastovski.com">Website(offline)</a></li>
</ul>
</div>
<!-- END ED PROFILE -->