<!-- START LAUREN PROFILE -->
<div class="hero">
<img src="../images/laurenkreugerbanner.png" alt="Lauren">
</div>
<div class="profile" id="laurenprofile">
<h2>Lauren Krueger</h2>

<h3>About Me</h3>
<p>Lauren is a graphic designer from Milwaukee, WI who followed the sun down under to learn how to code.</p>

<h3>Hobbies</h3>
<ul>
<li>Designing pretty things for cats and dogs at an animal shelter</li>
<li>Running</li>
<li>Sweaty yoga</li>
<li>Trying to learn how to code</li>
</ul>

<h3>Skills</h3>
<ul>
<li>Adobe CS4 &amp; above: Illustrator, InDesign, Dreamweaver, Photoshop</li>
<li>HTML/CSS</li>
<li>Cooking/eating vegan creations</li>
</ul>

<h3>Links</h3>
<ul>
<li><a href="http://www.behance.net/laurenkrueger">Behance</a></li>
<li><a href="http://www.linkedin.com/pub/lauren-krueger/30/926/a17">Linkedin</a></li>
<li><a href="https://twitter.com/lucylukru">Twitter</a></li>
</ul>
</div>
<!-- END LAUREN PROFILE -->