<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta name="description" content="The best in ecards">
      <meta name="keywords" content="Ecards, comedy, gifts">
    <title>WDI Heroes 2014</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
    <link href='http://fonts.googleapis.com/css?family=Michroma|Fredericka+the+Great|Julius+Sans+One|McLaren' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>

  </head>
  <body>

    <div id="wrapper">
    <header>
      <div id="title">
      <h1>WDI Heros 2014</h1>
      <h2>The codiest coders ever.</h2>
      </div>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/students/sam">Sam Peters</a></li>
          <li><a href="/students/ed">Ed Fastovski</a></li>
          <li><a href="/students/nick">Nick Morgan</a></li>
          <li><a href="/students/lauren">Lauren Krueger</a></li>
        </ul>
      </nav>
    </header>

    <aside>
      <h3>See the students</h3>
      <ul>
      <li><a href="">Sam Peters</a></li>
      <li><a href="">Ed Fastovski</a></li>
      <li><a href="">Nick Morgan</a></li>
      <li><a href="">Lauren Krueger</a></li>
      </ul>


    </aside>

  
      <%= yield %>

    <footer>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact Us</a></li>
      </ul>
      <small>This site remains the intellectual property of the owners. If you'd like a copy to use for your own website, please <a href="">contact</a> us!</small>
    </footer>
    </div>
  </body>
</html>