

<div class="hero">
<img src="../images/nickmorganbanner.png">
</div>

<div class="profile" id="nickprofile">
<h2>Nick Morgan</h2>


<h3>About Me</h3>
<p>Slowly but surely seeing out my plans of world domination!</p>

<h3>Hobbies</h3>
<ul>
<li>Crushing empty beer cans on my head</li>
<li>Eating competitions</li>
<li>Vintage David Hasselhoff memorabilia collecting</li>
</ul>

<h3>Skills</h3>
<ul>
<li>Belching</li>
<li>LARPing</li>
<li>Bow-staff skills...</li>
<li>Totally pwning n00bs</li>
</ul>

<h3>Links</h3>
<ul>
<li><a href="https://www.behance.net/nickjmorgan">Some cool art by me</a></li>
<li><a href="http://nickmorgansportsart.com/">Some more cool art by me</a></li>
<li><a href="http://nickmorgandraws.com/">Some even more cool art by me!</a></li>
<li><a href="pbfcomics.com/‎">Some funny stuff!</a></li>
</ul>
</div>
