<div class="profile">
<h1>Yikes.</h1>
<p>I've lost sight of the target, lieutenant!</p>
<p>Can't find your page, at all.</p>
<img src="http://media.tumblr.com/tumblr_lpfcyq8To81qf773x.png" />
<p>Try using the nav to grab a working page, or head <a href="/">Home.</a></p>
</div>