<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bloggertron</title>
	<link href="/style.css" rel="stylesheet"
</head>
<body>
	<div id="container">
	<header>
		<h1>Spaghetti Blogonese</h1>
		<ul class="nav">
			<li><a href="/posts">Home</a></li>
			<li><a href="/posts/new">Create post</a></li>
		</ul>
	</header>
	<%= yield %>
</div>
</body>
</html>