<form method="post" action="/posts">
	<label for="">Title:</label><br>
	<input type="text" name="title"><br><br>
	<label for="">Description:</label><br>
	<textarea name="description" rows="10"></textarea><br><br>
	<label for="">Body:</label><br>
	<textarea name="body" rows="10"></textarea><br><br>
	<label for="">Author:</label><br>
	<input type="text" name="author"><br><br>
	<button>Publish</button>


</form>