<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cats</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/new">New Cat</a></li>
    <li><a href=""></a></li>
  </ul>

  <%= yield %>
  
</body>
</html>