<form method='post' action="/create">
  <label for="">Name:</label>
  <input type="text" name="name">
  <label for="">Photo URL:</label>
  <input type="text" name="photo">
  <label>Breed</label>
  <input type="text" name="breed">
  <button>New Cat</button>
</form>