<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="description" content="Current students at GA Sydney">
        <meta name="keywords" content="students GA WDI">
        <title>WDI students 2014</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        
        <ul>
            <li><h1><a href="/">GA Students Jan - 14</a></h1></li>
            <li><a href="/students/alberto">Alberto</a></li>
            <li><a href="/students/pranava">Pranava</a></li>
            <li><a href="/students/emily">Emily</a></li>
            <li><a href="/students/luke">Luke</a></li>
            <li><a href="/contact">Contact Us</a></li>
        </ul>
    </header>
    <%= yield %>
</body>
</html>