<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cats</title>
</head>
<body>

  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/cats/new">New Cat</a></li>
      <li><a href=""></a></li>
  </ul>

  <%= yield %>
  
</body>
</html>