<form method='post' action="/posts">
    <label>Title:</label>
    <input type="text" name="title">

    <label>Description</label>
    <textarea name="description"></textarea>

    <label>Body</label>
    <textarea name="body"></textarea>

    <label>Author</label>
    <input type="text" name="author">

    <button>New Post</button>
</form>
