<ul>
<li><%= link_to 'Why music is so awesome', 'why' %></li>
<li><a href="http://www.grooveshark.com">Grooveshark</a></li>
<li><%= link_to 'Bacon & Conditions', 'tnc' %></li>
<li><%= link_to 'About bogans', 'about' %></li>
</ul>	