  <!doctype html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Blog</title>

    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  <div id="container">

  <h1>Super Cool Blogposts :D</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts/new">New Blogpost</a></li>
      <li><a href=""></a></li>
    </ul>

    <%= yield %>

    </div>
    
  </body>
  </html>