#container
{
    width: 600px;
    height: 50px;
    margin: 0 auto;  
    padding: 50px;
    border: green solid 1px;  
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}