<form method="post" action="/posts">
    <!-- post title -->
    <label for="title">Post Title:</label><br />
    <input type="text" name="post[title]" placeholder="Enter your title..."><br /><br />


    <!-- post tagline -->
    <label for="tagline">Tagline:</label><br />
    <input type="text" name="post[tagline]" placeholder="Enter a short description of your post. Make it snappy and interesting!"><br /><br />

    <!-- post body -->
    <label for="postbody">Post Content:</label><br />
    <input type="textarea" name="post[postbody]" placeholder="Write the content of your post here!"><br /><br />

    <!-- post author -->
    <label for="author">Post Content:</label><br />
    <input type="author" name="post[author]" placeholder="Who posted it? You did! Write your name here..."><br /><br />

    <button>Create post!</button>

</form>