<p>I detest Eagle-Eye Cherry.</p>

<% @post.each do |post| %>
<!-- Title of the post -->
<h3><%= post['title'] %></h2>

<!-- Tagline of the post -->
<em><%= post['tagline'] %></em>

<p>Created on: <%= post['created'] %></p>

<a href="/post/<%= post['id'] %>">Read more...</a><br /><br />
<% end %>

