<!DOCTYPE html>
<head>
  <title>Rogbloll</title>
  <link type="text/css" rel="stylesheet" href="style.css" >

</head>

<nav>
  <a href="/">Home</a>
  <a href="#">Create new post</a>
</nav>

<body>
 <%= yield %>
  </body>

<footer>
  <p>Built by Sam Peters, Jan 2014</p>
</footer>
</html>