<!DOCTYPE html>
<head>
  <title>Rogbloll</title>
  <link type="text/css" rel="stylesheet" href="/style.css" >
  <link href='http://fonts.googleapis.com/css?family=Lekton|Duru+Sans|Rock+Salt' rel='stylesheet' type='text/css'>

</head>

<div id="container">


<body>
  <header>
      <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/posts">See all posts</a></li>
      <li><a href="/posts/new">Create new post</a></li>
    </ul>

  </nav> 
  </header>

  <aside>
  <h1>Wow such blog</h1>
  <p>There'd probably be some links here</p>

  <h2>About Sammyjo</h2>
  <p>bfsfdkslfjksld</p>
  </aside>
  <div id="content">

    <%= yield %>


  </div>
    <footer>
  <p>Built by Sam Peters, Jan 2014</p>
</footer>

  </div>
  </body>


</html>