<h1><%= @shelter.name %></h1>


  <button><a href="/shelters/<%= @shelter.id %>/donate">Donate a pet!</a></button>


<p>pets:</p>

  <ul>
    
  <% @pets.each do |pet| %>


    <li><%= pet.name %></li>

  <% end %>
  </ul>
  <button>Adopt!</button>


